:root {
    --vp-home-hero-name-color: #1b5480;
    --vp-button-brand-border: #56a292;
    --vp-button-brand-bg: #1b5480;
    --vp-button-brand-hover-bg: #ebebef;
    --vp-button-brand-hover-text: #1b5480;
    --vp-c-brand-1: #1b5480;
    --vp-button-alt-hover-bg: #1b5480;
    --vp-button-alt-hover-text: #ffffff;
}

.VPHero.has-image .name {
    color: #1b5480;
}

@media (min-width: 640px) {
    .VPImage.image-src {
        max-width: 450px !important;
        max-height: 450px !important;
        margin-left: 50px !important;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}