:root {
    --vp-home-hero-name-color: #ff1d44;
    --vp-button-brand-border: #56a292;
    --vp-button-brand-bg: #1c8080;
    --vp-button-brand-hover-bg: #ff1d44;
    --vp-c-brand-1: #ff1d44;
}

.VPHero.has-image .name {
    color: #ff1d44;
}

@media (min-width: 640px) {
    .VPImage.image-src {
        max-width: 450px !important;
        max-height: 450px !important;
        margin-left: 50px !important;
    }
}